.favorite {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

.favorite_is-opened {
  visibility: visible;
  opacity: 1;
}

.favorite__close {
  cursor: pointer;
  left: -30px;
  top: 10px;
  position: absolute;
  background-image: url('../../images/close.svg');
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  height: 30px;
  width: 30px;
  background-color: initial;

}

.favorite__field {
  width: 400px;
  height: 100%;
  background: #fff;
  right: 0;
  position: absolute;
  padding: 20px;
}

.favorite__title {
  margin: 0;
  text-align: center;
  margin-bottom: 50px;
}

.favorite__item {
  display: flex;
  border-radius: 10px;
  border: 2px solid #f3f3f3;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.favorite__img {
  height: 100px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 10px;
  object-fit: cover;
}
.favorite__text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
}

.favorite__text {
  margin-bottom: 5px;
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
} 

.favorite-btn {
  width: 30px;
  min-height: 30px;
  background-color: inherit;
  background-image: url('../../images/unfavorite.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  position: absolute;
  right: 0px;
  top: 0px;
  transition: 0.5s ease-in-out;
}

.favorite-btn_active {
  background-image: url('../../images/favorite.svg');
}

@media screen and (max-width: 870px) {
  .favorite__field {
    width: 300px;
  }
  .favorite__img {
    width: 37px;
  }
}

@media screen and (max-width: 570px) {
  .favorite__field {
    width: 300px;
  }
  .favorite__img {
    width: 37px;
  }
  .favorite__text {
    font-size: 13px;
  } 
  .favorite-btn {
    width: 25px;
  }
}

@media screen and (max-width: 470px) {
  .favorite__field {
    width: 257px;
  }
  .favorite__item {
    flex-direction: column;
    align-items: center;
  }
  .favorite__text-container {
    align-items: center;
  }
}

@media screen and (max-width: 420px) {
  .favorite__field {
    width: 184px;
  }
  .favorite__text {
    font-size: 10px;
  } 
}